// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path:        "../webfonts";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';


body #app nav.navbar .navbar-brand {
	text-transform: lowercase;
	font-weight: 700;
	color: #0057e3;
	font-size: 45px;
	:hover {
		color: #0057e3;
	}

	.badge.brand-logo {
		padding: 10px 15px 5px 15px;
		font-weight: 700;
		font-size: 46px;
		background: #0090ff;
		color: #FFFFFF;
		vertical-align: middle;
		margin-right: 10px;
		text-transform: uppercase;
		border-radius: 10px;
	}
}

// Calendars page

.filter-links {
	margin-bottom: 20px;

	.btn {
		margin-left: 3px;
	}

	.btn.active, .btn:hover {
		background: #e4ebf4;
		border: 1px solid #e2e9f3;

		// background: #e4ebf4;
		// border: 1px solid red;
	}
}


.filter-content {
	
	.item {
		display: none;
	}

	.item.active {
		display: block;
	}

	.calendarsDataSorting {
		margin-bottom: 5px;
	}

	.calendarsDataSorting a.sort-link {
		text-transform: uppercase;
		color: #5d6b7b;
		font-weight: 700;

		.fas {
			line-height: 1.7em;
			font-size: 14px;
		}
	}

	.calendars-list .card {
		padding: 5px 5px 5px 10px;
		margin-top: 10px;
	}

	.calendars-list .dropdown-calendar-actions {
		display: inline;
		position: relative;

		.items {
			display: flex;
		    flex-direction: column;
		    // border: 1px solid red;
		    position: absolute;
		    right: 0;
		    top: 40px;
		    z-index: 1;
		    background: #FFF;
			padding: 10px 10px 0 10px;
			-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
			border-radius: 3px;
			width: 120px;

			a {
				text-align: left;
				text-decoration: none;
				margin-bottom: 10px;
			}
		}
	}
	.calendars-list .actions button {

		margin-right: 5px;

		.fas, .far {
			margin-right: 5px;
		}
	}
		
	.calendarsDataSorting a.sort-link i {
		font-size: 13px;
	}

	.calendarsDataSorting a.sort-link:hover {
		text-decoration: none;
			color: #131b26;
	}
}

.calendars-list .actions .btn-open {
    color: #3490dc;
    padding: 3px 5px 3px 8px;
}

.calendars-list .actions .btn-opened {
    color: #3490dc;
    padding: 3px 3px 3px 8px;
}

.calendars-list .actions .btn-share, .calendars-list .actions .btn-delete {
    color: #949fae;
}


// Add Calendar Modal 

#addCalendarModal .modal-content .modal-header {
	background-color: #3490dc;
	color: #FFF;

	.close {
		color: #FFFFFF;
	}
}
/*
#addCalendarModal .modal-body {
	padding-left: 3rem;
	padding-right: 3rem;
}

#addCalendarForm input[name="event-date"] {
	padding-left: 5px;
	padding-right: 5px;
}

#addCalendarForm .alert {
	width: 70%;
	float: right;
	margin-top: 10px;
	text-align: center;
}
*/
#addCalendarEventForm .alert {
	text-align: center;
}


#addEditCalendarForm .alert {
	margin-top: 10px;
}

#calendarData {

	margin-top: 5px ;
	margin-bottom: 10px;

}


#calendarDataTable {
	font-size: 13px;

	thead tr th.actions {
		width: 15%;
	}
}

#newEventDataForm td {
	padding-top: 0.8rem;
}




// Vue js transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}



.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.message-modal .modal-body input {
	width: 100%;
}